<section class="login-container">
  <mat-card class="login-card">
    <h1 class="login-title">Iniciar Sesión</h1>
    <!-- Mensaje de error general -->
    @if (errorMessage) {
    <div class="error-message">
      <mat-icon>error</mat-icon>
      <span>{{ errorMessage }}</span>
    </div>
    }

    <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="login-form">
      <!-- Usuario -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Usuario</mat-label>
        <input
          matInput
          formControlName="username"
          type="text"
          placeholder="Tu nombre de usuario"
        />
        <mat-icon matSuffix>person</mat-icon>

        @if (isFieldInvalid('username')) {
        <mat-error>
          {{ getErrorMessage("username") }}
        </mat-error>
        }
      </mat-form-field>

      <!-- Contraseña -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Contraseña</mat-label>
        <input
          matInput
          [type]="hidePassword ? 'password' : 'text'"
          formControlName="password"
          placeholder="Tu contraseña"
        />
        <!-- <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="hidePassword = !hidePassword"
          [attr.aria-label]="'Mostrar u ocultar contraseña'"
        >
          <mat-icon>{{
            hidePassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button> -->

        @if (isFieldInvalid('username')) {
        <mat-error>
          {{ getErrorMessage("username") }}
        </mat-error>
        }
      </mat-form-field>

      <!-- Botón -->
      <button
        mat-raised-button
        color="primary"
        class="login-button"
        type="submit"
        [disabled]="loginForm.invalid"
      >
        Entrar
      </button>
    </form>
  </mat-card>
</section>
