.list-task {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  grid-template-rows: 1fr;
  gap: 50px;
  padding: 1rem;
  margin-left: 50px;
}
.no-tasks {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.list-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.add-buttom{
 padding: 10px;
 margin-left: 80px;
}