<section class="list-section">
  <div class="add-buttom">
    <button
      mat-mini-fab
      color="primary"
      matTooltip="Adicionar una tarea"
      routerLink="/tasks/create"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div class="list-task">
    @for(task of tasks; track task.id){
    <app-task-card [task]="task"  (deleteTask)="openConfirmDialog($event)"></app-task-card>
    }@empty{
    <div class="no-tasks">
      <p>No hay tareas</p>
    </div>
    }
  </div>
</section>

