:host {
  display: block;
}

.layout-container {
  min-height: 100vh;
  padding-top: 64px; /* Espacio para el header fijo */
  margin-left: 240px;
  transition: margin-left 0.3s ease; /* Animación suave */
}

.layout-container.collapsed {
  margin-left: 60px; /* O el ancho que tenga la sidebar colapsada */
}